.circle {
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 50%;
  animation: animate 10s linear infinite;
}

.circle::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  border: 2px solid orange;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
